{% extends 'home/base.html' %}
{% load static %}
{% block main %}
<style>


</style>
<div class="originalsignup">


    <div class="extradetails">

    <h1>Sign Up</h1>
        {% if messages %}
    {% for message in messages %}
      <p style="color: red; font-weight: 400; font-size: 14px;">{{message}}</p>
      {%endfor %}
  {% endif %}
    <form style="display: flex; flex-flow: column wrap;"  method="post" action="{% url 'accounts:staff' %}" enctype="application/x-www-form-urlencoded">
      {% csrf_token %}
    <p style="color: red; font-weight: 600;">This website is only intended for residents of Anaesthesia.</p>
        <p>Username: <input name="username" type="text" maxlength="20" value="{{username}}"></p>
        <p>Email: <input name="email" type="email" maxlength="100" value="{{email}}"></p>
<p>Type a Password for your account: <input type="password" name="password" maxlength="20"></p>

<p>Qualification:<select name = 'degreetag'  required><option type="text" value="MBBS" label="MBBS" ></option></select>done at <input type="text" name="college"  placeholder=" Medical college name" required> </p>
<p>Qualification:<select name = 'degreetag'  required><option type="text" value="GENERAL ANAESTHESIA" label="MD ANAESTHESIA" ></option></select>pursuing/done at <input type="text" name="college"  placeholder=" Medical college name" required> </p>
<p>Final year of MD: <input type="text" name="finalyear" placeholder="Final year of MD(expected/done)"></p>
<p>Currently working as <input maxlength="50" type="text" name="position" placeholder=" Position at work" required> <br> <br>at <input type="text" name="hospital" placeholder=" Hospital name"  required ></p>
<button type="submit" name="profileformbtn" value="profileformdetails">Submit</button>

    </form>

</div>






{% endblock %}