{% extends 'home/base.html' %}
{% load static %}
{% block main %}

<link rel="stylesheet" type="text/css" href="{% static 'home/CSS/login.css' %}">
   <div class="designe container-fluid">
    <div class="errors">
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}
</div>
       <style>
           .extradetails {
               border: none;
           }
           .extradetails form{
               display: flex;
               flex-flow: column wrap;
               justify-content: center;
               align-items: center;
           }
       </style>

<div class="extradetails">
    <h1 style="font-size: 25px; color: #000066">All About Anaesthesia</h1>
  <h3>Forgot password</h3>

    <form   method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn" type="submit">Submit</button>
  </form>
    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

    <p><b>Or</b></p>
    <p>Don't have an account? <a href="{% url 'accounts:staff' %}">Sign Up</a> </p>


</div>
</div> 

{% endblock %}
